#detail{
    padding-top: 10rem;
    .container{
        padding: 0 2rem;
        .top{
            display: flex;
            align-items: center;
            gap: 8rem;
            font-size: 1.5rem;
            color: gray;
            .back{
                text-decoration: none;
                cursor: pointer;
                padding: 1rem;
                color: white;
                border: none;
                border-radius: 1rem;
                background-color: #8d19e8;
                display: flex;
                gap: 1rem;
            }
        }
        .detail{
            margin-top: 4rem;
            display: flex;
            gap: 3rem;
            .left{
                overflow: hidden;
                cursor: zoom-in;
                position: relative;
                border: 2px dotted rgb(221, 221, 221);
                width: 50%;
                img{
                    transition: all 0.4s ease-in-out;
                    width: 100%;
                }
                img:active{
                    transform: scale(1.4);
                  }
                .disc{
                    cursor: pointer;
                    position: absolute;
                    background-color: #ff004c;
                        color: white;
                        position: absolute;
                        padding: 1rem 2rem;
                        border-radius: 1rem;
                        top: 2rem;
                        left: 2rem;
                        font-size: 1.4rem;
                }
                .scope{
                    position: absolute;
                    max-width: 3rem;
                    bottom: 2rem;
                    right: 2rem;
                    .glassImg{
                        width: 100%;
                    }
                }
                .circle{
                    cursor: pointer;
                    border: 1px solid #e7e7e7;
                    position: absolute;
                    width: 4rem;
                    height: 4rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: white;
                    border-radius: 50%;
                    top: 2rem;
                    right: 2rem;
                    transition: all 0.4s ease-in-out; 
                    color: #f47107;
                    .like{
                        font-size: 1.8rem;
                    }
                }
                .circle:hover{
                    background-color: #f47107;
                    color: white;
                }
                
            }
            
           
            .right{
                width: 50%;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                h4{
                    color: #f47107;
                    font-size: 1.8rem;
                }
                h3{
                    font-size: 2.4rem;
                }
                .price{
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    h4{
                        font-size: 2rem;
                    }
                    .old{
                        color: gray;
                        text-decoration: line-through;
                        font-size: 1.6rem;
                    }
                }
                .stars{
                    display: flex;
                    gap: 0.8rem;
                    color: gray;
                    font-size: 1.4rem;
                    
                    .star{
                        color: #ffcb46;
                        display: flex;
                        align-items: center;
                        gap: 0.6rem;
                    }
        
                    p {
                        color: #9a9a9a;
                        font-size: 1.4rem;
                    }
                }
            }
            p{
                font-size: 1.6rem;
            }
            .toBasket{
                display: flex;
                gap: 1rem;
                .count{
                    max-width: 10rem;
                    border: 1px solid gray;
                    border-radius: 1rem;
                    overflow: hidden;
                    display: flex;
                    button{
                        cursor: pointer;
                       transition: all 0.4s ease-in-out; 
                        padding: 1rem 1.2rem;
                        border: none;
                        background-color:  white;
                        font-size: 1.4rem;
                    }
                    button:hover{
                        background-color: #f47107;
                        color: white;
                    }
                    input{
                        text-align: center;
                        width: 100%;
                        border: none;
                        outline: none;
                    }
                    input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                      }
                }
                .basket{
                    cursor: pointer;
                    background-color: #8d19e8;
                    color: white;
                    padding: 1.5rem;
                    display: flex;
                    gap: 1rem;
                    border: none;
                    border-radius: 1rem;
                    transition: all 0.4s ease-in-out; 

                }
                .basket:hover{
                    background-color: #f47107;
                }
            }
            .bottom{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                .row{
                    display: flex;
                    gap: 0.8rem;
                    align-items: center;
                    font-size: 1.4rem;
                    p{
                        cursor: pointer;
                        font-size: 1.4rem;
                    }
                    p:hover{
                        color: #f47107;
                    }
                    .icons{
                        display: flex;
                        gap: 0.7rem;
                        align-items: center;
                        .icon{
                            color: black;
                        }
                        .icon:hover{

                            color: #f47107;
                        }
                    }
                }
            }
            
        }
        .commentsSide{
            margin-top: 4rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            .title{
                font-size: 2rem;
            }
            .comments{
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                margin-top: 3rem;
                display: flex;
                flex-direction: column;
                background-color: white;
                padding: 2.5rem;
                gap: 2rem;
                width: 100%;
                .comment{
                   
                    display: flex;
                    gap: 1.5rem;
                    .profile{
                        max-width: 5rem;
                        max-height: 5rem;
                        overflow: hidden;
                        border-radius: 50%;
                        img{
                            width: 100%;
                        }
                    }
                    .right{
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;
                        .stars{
                            display: flex;
                            gap: 0.6rem;
                            font-size: 1.3rem;
                            color: #ffcb46;
                            p{
                                color: black;
                            }
                        }
                        .from{
                            display: flex;
                            gap: 1rem;
                            align-items: center;
                            h5{
                                font-size: 1.5rem;
                            }
                            p{
                                color: gray;
                                font-size: 1.3rem;
                            }
                        }
                        .commentText{
                            margin-top: 1rem;
                            font-size: 1.3rem;
                            color: rgb(109, 109, 109);
                        }
                    }
                }
                form{
                    
                    margin-top: 3rem;
                    .ratingStar{
                      
                        font-size: 1.5rem;
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        $color_1: #666;
                        $color_2: #e58e09;
                        $color_3: #ff9e0b;
                        $color_4: #ffa723;
                        
                        .rating {
                            padding-bottom: 0.4rem;
                            &:not(:checked) {
                                >input {
                                    position: absolute;
                                    appearance: none;
                                }
                                >label {
                                    float: right;
                                    cursor: pointer;
                                    font-size: 25px;
                                    color: $color_1;
                                    &:before {
                                        content: '★';
                                    }
                                    &:hover {
                                        color: $color_3;
                                        ~ {
                                            label {
                                                color: $color_3;
                                            }
                                        }
                                    }
                                }
                            }
                            >input {
                                &:checked {
                                    + {
                                        label {
                                            &:hover {
                                                color: $color_2;
                                                ~ {
                                                    label {
                                                        color: $color_2;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    ~ {
                                        label {
                                            &:hover {
                                                color: $color_2;
                                                ~ {
                                                    label {
                                                        color: $color_2;
                                                    }
                                                }
                                            }
                                            color: $color_4;
                                        }
                                    }
                                }
                            }
                            >label {
                                &:hover {
                                    ~ {
                                        input {
                                            &:checked {
                                                ~ {
                                                    label {
                                                        color: $color_2;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        
                    }
                    textarea{
                        outline: #e58e09;
                        margin-top: 2rem;
                        padding: 1.5rem;
                        width: 100%;
                        min-height: 20rem;
                        resize: none;

                    }
                    button{
                        margin-top: 1rem;
                        font-size: 1.3rem;
                        border-radius: 1rem;
                        border: none;
                        padding: 1rem;
                        color: white;
                        background-color: #8d19e8;
                    }

                }
            }

        }
         
    }
}


@media only screen and (max-width: 992px) {
    #detail{
        .container{
            .top{
                font-size: 1.3rem;
                button{
                    padding: 0.8rem;
                }
            }
            .detail{
                .left{
                    width: 70%;
                }
                .right{
                    width: 70%;
                    h4{
                        font-size: 1.6rem;
                    }
                    h3{
                        font-size: 2rem;
                    }
                    .price{
                        h4{
                        font-size: 1.8rem;


                        }
                    }
                    p{
                        font-size: 1.4rem;
                    }
                    .toBasket{
                        .count{
                            button{
                                padding: 1rem;
                            }
                        }
                        .basket{
                            padding: 1rem;
                        }
                    }
                    .bottom{
                        .row{
                            font-size: 1.2rem;
                            p{
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
            .commentsSide{
              
                .title{
                    font-size: 1.6rem;
                }
                .comments{
                  
                    .comment{
                    
                        
                        .profile{
                            max-width: 4rem;
                            max-height: 4rem;
                       
                        }
                        .right{
                            
                            .stars{
                              
                                font-size: 1.2rem;
 
                               
                            }
                            .from{
                            
                                h5{
                                    font-size: 1.4rem;
                                }
                                p{
                
                                    font-size: 1.2rem;
                                }
                            }
                            .commentText{
         
                                font-size: 1.2rem;
                              
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #detail{
        .container{
            padding: 0;
            .top{
                padding: 0 1rem;
            }
            .detail{
                flex-direction: column; 
                align-items: center;

                .left{
                   .disc{
                    padding: 0.8rem;
                    font-size: 1.2rem;
                   }
                   .circle{
                    width: 3rem;
                    height: 3rem;
                   .like{
                    font-size: 1.3rem;
                   }
                }
                .scope{
                    max-width: 2rem;
                }
                }
                
            }
        }
    }

}
@media only screen and (max-width: 575px) {
    #detail{
        .container{
            padding: 0 2rem;
            .top{
                padding: 0;
                button{
                    padding: 0.6rem;
                    font-size: 1rem;
                }
            }
            .detail{
                .left{
                    width: 80%;
                }
                .right{
                    width: 80%;
                    gap: 1rem;
                    h4{
                        font-size: 1.4rem;
                    }
                    h3{
                        font-size: 1.6rem;
                    }
                    .price{
                        h4{
                        font-size: 1.8rem;


                        }
                    }
                    p{
                        font-size: 1.2rem;
                    }
                    .toBasket{
                        .count{
                            button{
                                text-align: center;
                                width: 50%;
                                padding: 0.5rem;
                            }
                        }
                        .basket{
                            align-items: center;
                            justify-content: center;
                            width: 50%;
                            padding: 0.5rem;
                        }
                    }
                    .bottom{
                        .row{
                            font-size: 1rem;
                            p{
                                font-size: 1rem;
                            }
                        }
                    }
                }

               
                
            }
            .commentsSide{
              
                .title{
                    font-size: 1.5rem;
                }
                .comments{
                  
                    .comment{
                    
                        
                        .profile{
                            max-width: 4rem;
                            max-height: 4rem;
                       
                        }
                        .right{
                            
                            .stars{
                              
                                font-size: 1.1rem;
 
                               
                            }
                            .from{
                            
                                h5{
                                    font-size: 1.3rem;
                                }
                                p{
                
                                    font-size: 1.1rem;
                                }
                            }
                            .commentText{
         
                                font-size: 1.1rem;
                              
                            }
                        }
                    }
                    form{
                    
                
                        .ratingStar{
                          
                            font-size: 1.2rem;
                           
                            
                            .rating {
                                padding-bottom: 0.4rem;
                                &:not(:checked) {
                                   
                                    >label {
                
                                        font-size: 1.8rem;
    
                                     
                                  
                                    }
                                }
                              
                             
                                
                            }
                            
                        }
                        textarea{
        
                            min-height: 15rem;
            
    
                        }
                        button{
    
                            font-size: 1.1rem;
    
                        }
    
                    }
                }
               
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    #detail{
        .container{
            padding: 0 2rem;
          
            .detail{
                gap: 1rem;
                align-items: normal;
            
                .left{
                    width: 100%;
                }
                .right{
                    width: 100%;
                   .toBasket{
                    flex-direction: column;
                    .basket{
                        width: 70%;
                    }
                    .count{
                        max-width: 70%;
                    }
                   }
                }

               
                
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    #detail{
        .container{
            .top{
                flex-direction: column;
                gap: 1rem;
            }
        }
    }

}