nav{
    position: fixed;
    min-width: 100%;
    background-color: #8D19E8;
    z-index: 3;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        .logo{
            width: 12rem;
            img{
                width: 100%;
            }
        }
        ul{
            display: flex;
            list-style: none;
            gap: 2rem;
            .link{
                font-size: 1.4rem;
                color: white;
                text-decoration: none;
                font-weight: 600;
            }
            .link:hover{
                color: #fda403;
            }
        }
        .searchBar{
            background-color: rgb(244, 244, 244);
            padding: 0.2rem 0.2rem 0.2rem 1rem;
            border-radius: 4rem;
            display: flex;
            input{
                background-color: transparent;
                border: none;
                outline: none;
            }
            button{
                width: 3rem;
                height: 3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #fda403;
                border: none;
                border-radius: 50%;
                color: white;
            }

        }
        .LogoBar{
            font-size: 2rem;
            display: flex;
            gap: 1rem;
            max-width: 14rem;
            .logo{
                position: relative;
                .number{
                    width: 1.5rem;
                    height: 1.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    background-color: #fda403;
                    font-size: 0.8rem;
                    top: -0.5rem;
                    right: 0.1rem;
                    border-radius: 50%;
                }
                
                .like:hover{
                    color: rgb(205, 150, 244);
                }
                .shop:hover{
                    color: rgb(205, 150, 244);
                }
                .user:hover{
                    color: rgb(205, 150, 244);
                }
            }
         
            
        }
        .burger{
            display: none;
        }

    }
   
}

@media only screen and (max-width: 992px) {
    nav{
        .container{
            .logo{
                max-width: 10rem;

            }
            ul{
              .link{
                font-size: 1.2rem;
              }
            }
            .LogoBar{
                max-width: 12rem;
                .logo{
                    font-size: 1.6rem;
                }
            }
        }

    }
  }

  @media only screen and (max-width: 768px) {
    nav{
        .container{
            .searchBar{
                display: none;
            }
            ul{
                .link{
                  font-size: 1.1rem;
                }
              }
              .LogoBar{
                  max-width: 10rem;
                  .logo{
                      font-size: 1.3rem;
                      .number{
                        width: 1.2rem;
                        height: 1.2rem;
                      }
                  }
              }
            
        }

    }
  }

  @media only screen and (max-width: 480px) {
    nav{
        .container{
            ul{
                display: none;
            }
            .LogoBar{
                display: none;
            }
            .burger{
                display: block;
                font-size: 2rem;
            }

            
        }

    }
  }